trainBookingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TrainBookingService"
  targetNamespace="http://example.com/trainbooking.wsdl"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://example.com/trainbooking.wsdl"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <types>
    <xsd:schema targetNamespace="http://example.com/trainbooking.wsdl">
      <xsd:complexType name="SearchTrainsInput">
        <xsd:sequence>
          <xsd:element name="departureStation" type="xsd:string"/>
          <xsd:element name="arrivalStation" type="xsd:string"/>
          <xsd:element name="departureDateTime" type="xsd:string"/>
          <xsd:element name="returnDateTime" type="xsd:string"/>
          <xsd:element name="numTickets" type="xsd:integer"/>
          <xsd:element name="travelClass" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="BookTrainInput">
        <xsd:sequence>
          <xsd:element name="trainIds" type="xsd:string"/>
          <xsd:element name="travelClass" type="xsd:string"/>
          <xsd:element name="ticketType" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>

  <message name="searchTrainsRequest">
    <part name="parameters" type="tns:SearchTrainsInput"/>
  </message>

  <message name="searchTrainsResponse">
    <part name="result" type="xsd:string"/>
  </message>

  <message name="bookTrainRequest">
    <part name="parameters" type="tns:BookTrainInput"/>
  </message>

  <message name="bookTrainResponse">
    <part name="result" type="xsd:string"/>
  </message>

  <portType name="TrainBookingPortType">
    <operation name="searchTrains">
      <input message="tns:searchTrainsRequest"/>
      <output message="tns:searchTrainsResponse"/>
    </operation>
    <operation name="bookTrain">
      <input message="tns:bookTrainRequest"/>
      <output message="tns:bookTrainResponse"/>
    </operation>
  </portType>

  <binding name="TrainBookingBinding" type="tns:TrainBookingPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="searchTrains">
      <soap:operation soapAction="http://example.com/trainbooking.wsdl/searchTrains"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="bookTrain">
      <soap:operation soapAction="http://example.com/trainbooking.wsdl/bookTrain"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="TrainBookingService">
    <port name="TrainBookingPort" binding="tns:TrainBookingBinding">
      <soap:address location="http://localhost:3001/wsdl"/>
    </port>
  </service>

</definitions>
